div {
    width: 150px;
    height: 150px;
    background-color: black;
    margin: 30px;
}

div:hover {
    transition: 1s linear;
}


.first:hover {
    width: 300px;
}

.second:hover {
    height: 300px;
}

.third:hover {
    width: 300px;
    height: 300px;
}